@import "src/scss/base/mixins";
.level{
  background: linear-gradient(180deg, #FBFBFB 0%, #E2E4E2 51.84%, #F7F7F6 100%);
  &__container{
   padding: 30px 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  &__column{

  }
  &__cards{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 50px;
  }
  &__card{
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 4px 1px 17px rgba(199, 194, 194, 0.2);
    padding: 15px;
  }
  &__icon{
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
  }
  &__h{
    margin-bottom: 10px;
    @include text(600,18px,25px,#8EC63F);
  }
  &__p{
    @include text(400,14px,19px,#878787);
  }
}