.header{
  position: fixed;
  top: 0;
  left: 0;
  transition: background .3s ease;
  z-index: 100;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 4px 14px rgba(54, 54, 54, 0.2);
  &.scrolled{
    background: #284AAC;
  }

}



.header__{
  &logo img{
    height: auto;
  }
  &container{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  &menu{
    display: none;
    &_active{
      display: flex;
      position: absolute;
      top: 200px;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      background: #11111180;
      z-index: 99;
      height: 100vh;
    }
  }
}
@media (min-width: 1000px) {
  .header__{
    &menu{
      display: flex;
    }
  }
}

@media (min-width: 481px ) {
}

@media (min-width: 769px ) {
}

@media (min-width: 1025px) {
}

@media (min-width: 1201px) {
}
