@import "src/scss/base/mixins";

.first{
  position: relative;
  &__bg-svg{
    height: 100vh;
    img{
      object-fit: cover;
    }

  }
  &__top{
    //@include text(500,22px,27px,#fff);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    row-gap: 18px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 40px;
  }

  &__h2{
    @include text(700,30px,41px,#8EC63F);
  }
  &__h3{
    @include text(400,16px,22px,#454545);
    margin-bottom: 40px - 18px;
  }
  &__bottom{

    background: linear-gradient(180deg, #0D6930 -81.55%, #8EC63F 98.67%);
    .container{
      padding: 29px 0;
    }
    &-title{
      @include text(600,18px,25px,#ffffff);
      text-align: center;
    }
  }
  &__img{
    display: none;
    img{
      object-fit: cover;
    }
  }
}
@media (min-width: 500px) {
.first{
  &__h2{
    @include text(700,42px,57px,#8EC63F);
  }
  &__h3{
    @include text(400,18px,24px,#454545);

  }

}
}
@media (min-width: 1000px ) {
  .first{
    &__bottom{
      padding: 60px 0;
      &-title{
        @include text(600,36px,49px,#ffffff);
      }
    }
    &__bg-svg{
      width: 50%;
      position: relative;
      img{
        svg{
          width: 100%;
          height: 100%;
        }
      }
    }
    &__img{
      display: inline-block;
      width: 50%;
      object-fit: cover;
    }
    &__row{
      display: flex;
      height: 100vh;
    }
  }
}
@media (min-width: 1440px) {

}

@media (min-width: 1920px) {

}