@import "src/scss/base/mixins";

.first{
  position: relative;
  padding-top: 70px;
  &__bg{

  }
  &__top{
    //@include text(500,22px,27px,#fff);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    row-gap: 18px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
  }

  &__h2{
    @include text(700,30px,41px,#8EC63F);
  }
  &__h3{
    @include text(400,16px,22px,#454545);
    margin-bottom: 40px - 18px;
  }
  &__bottom{

    background: linear-gradient(180deg, #0D6930 -81.55%, #8EC63F 98.67%);
    .container{
      padding: 29px 0;
    }
    &-title{
      @include text(600,18px,25px,#ffffff);
      text-align: center;
    }
  }
}