@import "src/scss/base/mixins";
.branch{
  background: url("./BranchSectionBg.png") ,linear-gradient(180deg, #FFFFFF 0%, #E2E4E2 51.84%, #FFFFFF 98.96%) ;
  &__title{
    @include text(600,25px,34px,#149345);
    text-align: center;
    margin-top: 30px;
  }
  .container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 80px;
  }
  &__bg{
    position: absolute;
    top:0 ;
    left: 30px;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  &__img{
    &:nth-child(odd){
      flex-direction: row-reverse;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__wrapper{
    display: none;
  }
}
@media (min-width: 1000px ) {
  .branch{
    .container{
      row-gap: 0;
      align-items: center;

    }
    &__img img{
      width: 350px;
    }
    &__point{
      display: none;
    }
    &__img:nth-child(odd){
      align-self: flex-start;
    }
    &__img:nth-child(3){
      position: relative;
      left: 160px;
    }
  }
}
@media (min-width: 1440px) {
  .branch{
    .container{
      display: none;
    }
    &__wrapper{
      display: block;
    }
  }

}

@media (min-width: 1920px) {

}