@import "src/scss/base/mixins";
.nav{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 27px;
  &__btn{
    background: linear-gradient(45deg,#E9BC2E,#F0382B);
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 10px 20px ;
    border-radius: 10px;
    cursor: pointer;
    &:hover{
      background:#F0382B;
      transform: scale(1.5);
      transition: 0.5s;
    }
  }
  &__acc{
    border: 2px solid #FFFFFF;
    padding: 5px 10px;
    border-radius: 10px;
  }
  &__link{
   @include text(400,18px,25px,#454545);
    &:hover{
      color: #ffb825;
      transform: scale(1.2);
      transition: 0.2s;

    }
  }
}

@media (min-width: 1000px ) {
}

@media (min-width: 769px ) {
}

@media (min-width: 1025px) {
}

@media (min-width: 1201px) {
}
