@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  resize: none;
  outline: none;
  border: none;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}


.container {
  max-width: 428px - 40px;
  margin: 0 auto;
}
img{
  width: 100%;
  height: 100%;
}
@media (min-width: 1000px ) {
  .container{
    max-width: 1000px - 48px;
  }
}
@media (min-width: 1440px) {
  .container{
    max-width: 1440px - 160px;
  }
}

@media (min-width: 1920px) {
  .container{
    max-width: 1920px - 360px;
  }

}
//@media (min-width: 1000px ) {
//
//}
//@media (min-width: 1440px) {
//
//}
//
//@media (min-width: 1920px) {
//
//}