@import "src/scss/base/mixins";

.footer {
  background: #231F1F;

  .container {
    padding: 20px 0;
    background: #231F1F;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }

  &__list {

    &-title {
      @include text(500, 22px, 27px, #fff)
    }

    &-wrapper {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 10px;

    }

    &-item {
      @include text(400, 14px, 19px, rgba(255, 255, 255, 0.8));

      &-num {
        @include Inter;
        @include text(400, 14px, 17px, rgba(255, 255, 255, 0.8));
      }
    }
  }

  &__made {
    @include Inter;
    @include text(300, 12x, 15px, #706E6E80);
    text-align: center;
    margin-top: 35px;
    padding: 20px;
  }
}
@media (min-width: 1000px ) {
  .footer{
    .container{
      flex-direction: row;
      justify-content: space-between;
    }
    &__list{
      padding: 0 40px;
      width: 35%;
    }
    &__whatsapp{
      position: relative;
      bottom: -50px;
      left: 0;
    }
  }
}
@media (min-width: 1440px) {

}

@media (min-width: 1920px) {

}